<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <servlet>
        <servlet-name>xsavecctv1</servlet-name>
        <servlet-class>data.xsavecctv1</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>cctvServlet</servlet-name>
        <servlet-class>data.cctvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDataServlet</servlet-name>
        <servlet-class>data.GetDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>util.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home2Servlet</servlet-name>
        <servlet-class>data.home2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopBriefServlet</servlet-name>
        <servlet-class>data.TopBriefServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoreServlet</servlet-name>
        <servlet-class>data.MoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>data.MessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassServlet</servlet-name>
        <servlet-class>data.PassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BottomLeftServlet</servlet-name>
        <servlet-class>data.BottomLeftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LBServlet</servlet-name>
        <servlet-class>data.LBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeftBServlet</servlet-name>
        <servlet-class>data.LeftBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LBMoreServlet</servlet-name>
        <servlet-class>data.LBMoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rbServlet</servlet-name>
        <servlet-class>data.rbServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rbCompleteServlet</servlet-name>
        <servlet-class>data.rbCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rbCompleteServlet_1</servlet-name>
        <servlet-class>data.rbCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServletLB</servlet-name>
        <servlet-class>data.MessageServletLB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageRBServlet</servlet-name>
        <servlet-class>data.MessageRBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>data.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsMoreServlet</servlet-name>
        <servlet-class>data.NewsMoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnouncementServlet</servlet-name>
        <servlet-class>data.AnouncementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnounceMoreServlet</servlet-name>
        <servlet-class>data.AnounceMoreServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AdminNewsServlet</servlet-name>
        <servlet-class>data.AdminNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteNewsServlet</servlet-name>
        <servlet-class>data.AdminDeleteNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAnnouncementServlet</servlet-name>
        <servlet-class>data.AdminAnnouncementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteAnnouncementServlet</servlet-name>
        <servlet-class>data.AdminDeleteAnnouncementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xsavecctv1</servlet-name>
        <url-pattern>/xsavecctv1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cctvServlet</servlet-name>
        <url-pattern>/cctvServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDataServlet</servlet-name>
        <url-pattern>/GetDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home2Servlet</servlet-name>
        <url-pattern>/home2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopBriefServlet</servlet-name>
        <url-pattern>/TopBriefServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoreServlet</servlet-name>
        <url-pattern>/MoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassServlet</servlet-name>
        <url-pattern>/PassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BottomLeftServlet</servlet-name>
        <url-pattern>/BottomLeftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LBServlet</servlet-name>
        <url-pattern>/LBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeftBServlet</servlet-name>
        <url-pattern>/LeftBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LBMoreServlet</servlet-name>
        <url-pattern>/LBMoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rbServlet</servlet-name>
        <url-pattern>/rbServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rbCompleteServlet</servlet-name>
        <url-pattern>/rbCompleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rbCompleteServlet_1</servlet-name>
        <url-pattern>/rbCompleteServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServletLB</servlet-name>
        <url-pattern>/MessageServletLB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageRBServlet</servlet-name>
        <url-pattern>/MessageRBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/NewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsMoreServlet</servlet-name>
        <url-pattern>/NewsMoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnouncementServlet</servlet-name>
        <url-pattern>/AnouncementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnounceMoreServlet</servlet-name>
        <url-pattern>/AnounceMoreServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminNewsServlet</servlet-name>
        <url-pattern>/AdminNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteNewsServlet</servlet-name>
        <url-pattern>/AdminDeleteNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>AdminAnnouncementServlet</servlet-name><url-pattern>/AdminAnnouncementServlet</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteAnnouncementServlet</servlet-name>
        <url-pattern>/AdminDeleteAnnouncementServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        
        <welcome-file>home2.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
